In [1]:
import pandas as pd
import numpy as np
import os
import glob
from datetime import datetime

In [2]:
def getFileNames(path:str):
    files = []
    for file in os.scandir(path):
        if file.is_file():
            if file.name.endswith('.csv'):
                files.append(file.name)
                files.sort()
    return files

def joinDFFF(path:str, files:list):
    df = pd.read_csv(path+files[0])
    print(df.shape)
    files.pop(0)

    for e in files:
        print(f'Using file: {e}')
        df2 = pd.read_csv(path+e)
        df = pd.concat([df,df2], ignore_index=True)
        print(df.shape)
    print(df.shape)
    return df

def joinDF(l:list):
    df = l[0]
    print(df.shape)
    l.pop(0)
    for e in l:
        df = pd.concat([df,e], ignore_index=True)
        print(df.shape)
    print(df.shape)
    return df

def getPrefix(l:str):
    return l[0]

def idGenerator(df, prefix:str):
   print('idGenerator')
   for e in range(len(df)):
       df['id'] = prefix+df.iloc[:, 0]
   return df
        
def getDF(path:str, name:str):
    df = pd.read_csv(path+name)
    prefix = getPrefix(name)
    print(prefix)
    a = idGenerator(df, prefix)
    return a

In [3]:
# se obtienen los nombres de los archivos presentes el directorio 'ratings/'
path = r'ratings/'
files = getFileNames(path)
files

['1.csv', '2.csv', '3.csv', '4.csv', '5.csv', '6.csv', '7.csv', '8.csv']

In [4]:
# se unen los datos en un solo df
df = joinDFFF(path, files)
print(df.tail())

(1500000, 4)
Using file: 2.csv
(3000000, 4)
Using file: 3.csv
(4500000, 4)
Using file: 4.csv
(6000000, 4)
Using file: 5.csv
(7500000, 4)
Using file: 6.csv
(9000000, 4)
Using file: 7.csv
(9524289, 4)
Using file: 8.csv
(11024289, 4)
(11024289, 4)
          userId  rating   timestamp movieId
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

In [5]:
df

          userId  rating   timestamp movieId
0              1     1.0  1425941529   as680
1              1     4.5  1425942435  ns2186
2              1     5.0  1425941523  hs2381
3              1     5.0  1425941546  ns3663
4              1     5.0  1425941556  as9500
...          ...     ...         ...     ...
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 336.4+ MB

In [7]:
# se renombra la columna 'rating' por 'score'
df.rename(columns={'rating':'score'}, inplace=True)
df

          userId  score   timestamp movieId
0              1    1.0  1425941529   as680
1              1    4.5  1425942435  ns2186
2              1    5.0  1425941523  hs2381
3              1    5.0  1425941546  ns3663
4              1    5.0  1425941556  as9500
...          ...    ...         ...     ...
11024284  124380    4.5  1196786159  ns5272
11024285  124380    2.5  1196786030  ns5492
11024286  124380    3.5  1196785679   hs305
11024287  124380    4.5  1196787089  ns7881
11024288  124380    1.5  1196785847   as883

[11024289 rows x 4 columns]

In [8]:
# se obtienen los csv presentes en el directorio actual
path = r'./'
platformFile = getFileNames(path)
platformFile

['amazon_prime_titles.csv',
 'disney_plus_titles.csv',
 'hulu_titles.csv',
 'netflix_titles.csv']

In [9]:
# en esta lista se almacenaran los df de cada plataforma
platforms = []

In [10]:
# se genera el dataframe con los datos correspondientes a Amazon
Amazon = getDF(path, platformFile[0])
platforms.append(Amazon) # se agrega a la lista anteriormente mencionada

a
idGenerator

In [11]:
# se genera el dataframe con los datos correspondientes a Disney
Disney_plus = getDF(path, platformFile[1])
platforms.append(Disney_plus)

d
idGenerator

In [12]:
# se genera el dataframe con los datos correspondientes a Hulu
Hulu = getDF(path, platformFile[2])
platforms.append(Hulu)

h
idGenerator

In [13]:
# se genera el dataframe con los datos correspondientes a Netfix
Netflix = getDF(path, platformFile[3])
platforms.append(Netflix)

n
idGenerator

In [14]:
# se unen los datos de las plataformas en un solo dataframe
print(type(platforms))
streamPlatform = joinDF(platforms)
print(streamPlatform.info())

<class 'list'>
(9668, 13)
(11118, 13)
(14191, 13)
(22998, 13)
(22998, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  id            22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.3+ MB
None

In [15]:
# correccion de los valores NaN. Se cambian por 'G'
print(streamPlatform['rating'].isna().sum())
streamPlatform['rating'].replace(np.NaN, 'G', inplace=True)
print(streamPlatform['rating'].isna().sum())

864
0

In [16]:
def convert2date(date:str):
    months = {
        'january'   : '01',
        'february'  : '02',
        'march'     : '03',
        'april'     : '04',
        'may'       : '05',
        'june'      : '06',
        'july'      : '07',
        'august'    : '08',
        'septemeber': '09',
        'october'   : '10',
        'november'  : '11',
        'december'  : '12',
    }
    splt = date.split(' ')
    print(date)
    m = months[splt[0].lower()]
    d = splt[1]
    a = splt[2]
    print(d)
    date = a + '-' + m + '-' + d
    date = datetime.strptime(date, '%Y-%m-%d,')
    return date.date()

In [17]:
a = streamPlatform['date_added']
b = a[20]
print(b)
#print(convert2date(b))
print(a.isna().sum())
print(a.shape)

nan
9554
(22998,)

In [18]:
streamPlatform.isna().sum()

show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating              0
duration          482
listed_in           0
description         4
id                  0
dtype: int64